<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Dashboard Template for Bootstrap</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /*
 * Base structure
 */
        /* Move down content because we have a fixed navbar that is 50px tall */

        body {
            padding-top: 50px;
        }

        /*
 * Global add-ons
 */

        .sub-header {
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }

        /*
 * Top navigation
 * Hide default border to remove 1px line.
 */

        .navbar-fixed-top {
            border: 0;
        }

        /*
 * Sidebar
 */
        /* Hide for mobile, show later */

        .sidebar {
            display: none;
        }

        @media (min-width: 768px) {
            .sidebar {
                position: fixed;
                top: 51px;
                bottom: 0;
                left: 0;
                z-index: 1000;
                display: block;
                padding: 20px;
                overflow-x: hidden;
                overflow-y: auto;
                /* Scrollable contents if viewport is shorter than content. */
                background-color: #f5f5f5;
                border-right: 1px solid #eee;
            }
        }

        /* Sidebar navigation */

        .nav-sidebar {
            margin-right: -21px;
            /* 20px padding + 1px border */
            margin-bottom: 20px;
            margin-left: -20px;
        }

        .nav-sidebar > li > a {
            padding-right: 20px;
            padding-left: 20px;
        }

        .nav-sidebar > .active > a,
        .nav-sidebar > .active > a:hover,
        .nav-sidebar > .active > a:focus {
            color: #fff;
            background-color: #428bca;
        }

        /*
 * Main content
 */

        .main {
            padding: 20px;
        }

        @media (min-width: 768px) {
            .main {
                padding-right: 40px;
                padding-left: 40px;
            }
        }

        .main .page-header {
            margin-top: 0;
        }

        /*
 * Placeholder dashboard ideas
 */

        .placeholders {
            margin-bottom: 30px;
            text-align: center;
        }

        .placeholders h4 {
            margin-bottom: 0;
        }

        .placeholder {
            margin-bottom: 20px;
        }

        .placeholder img {
            display: inline-block;
            border-radius: 50%;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/">芭乐科技管理员界面</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a type="button" href="/admin/" class="btn">查看数据</a></li>
                <li><a type="button" onclick="userinfo()" class="btn">查看用户</a></li>

                <li><a type="button" onclick="showAdd()" class="btn">添加</a></li>
                <li>
                    <a type="button" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true"
                       style="color:white;">当前用户：{{.Username}}</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/change/">修改密码</a></li>
                        <li><a href="/logout/">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 main">

            <div class="navbar-form navbar-right">
                <!--<input type="text" class="form-control" placeholder="查找">-->
                <input id="startTime" type="date" class="form-control">
                <label style="color:black;">至</label>
                <input id="endTime" type="date" class="form-control">
                <button onclick="search()" class="btn btn-default">查找</button>
            </div>

            <div class="page-header">
                <label style="font-size:20px; color:black;">选择应用：</label>
                <div class="btn-group">
                    <select id="username" onchange="getgame(this.value)" class="selectpicker">
                        {{range $key,$value:=.Data}}
                        <option value="{{$key}}">{{$value}}</option>
                        {{end}}
                    </select>
                </div>
                <!--<div class="btn-group ">-->
                <!--<select id="selectgame" class="selectpicker"  onchange="change(this.value)" >-->
                <!--&lt;!&ndash;<option value="1">王者荣耀</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="3">蔚蓝少女</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="2">疯狂捕鱼</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="4">斗地主</option>&ndash;&gt;-->
                <!--</select>-->
                <!--</div>-->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        游戏 <span class="caret"></span>
                    </button>
                    <ul id="selectgame" class="dropdown-menu">
                        <li><a href="#">demo</a></li>
                        <li><a href="#">demo</a></li>
                        <li><a href="#">demo</a></li>
                        <li><a href="#">demo</a></li>
                    </ul>
                </div>
                <label>gameid</label>
                <label id="gameid"></label>
            </div>

            <!--展示数据-->
            <div class="table-responsive">
                <!-- Single button style="display: none" -->

                <table id="data" class="table table-striped">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>产品名称</th>
                        <th>新增用户</th>
                        <th>累计用户</th>
                    </tr>
                    </thead>
                    <tbody id="res">

                    </tbody>
                </table>
            </div>


            <!--添加游戏数据-->
            <div>
                <form action="/addata/" id="addnum" style="display: none" class="form-inline">
                    <hr>
                    <label>选择用户：</label>

                    <select onchange="add_getgame(this.value)" class="selectpicker">
                        {{range $key,$value:=.Data}}
                        <option value="{{$key}}">{{$value}}</option>
                        {{end}}
                    </select>

                    <div style="padding-left: 20px" class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            游戏 <span class="caret"></span>
                        </button>
                        <ul id="add_selectgame" class="dropdown-menu">
                            <li><a href="#">demo</a></li>
                        </ul>
                    </div>
                    <label style="padding-left: 20px" >gameid:</label>
                    <input type="text" readonly="readonly" class="form-control" id="add_gameid" name="add_gameid">
                    <div style="padding-top: 5px">
                        <div class="form-group">
                            <label for="date">日期</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                        <div class="form-group">
                            <label for="new_num">新增用户</label>
                            <input type="number" class="form-control" id="new_num" name="new_num" placeholder="number">
                        </div>
                        <div class="form-group">
                            <label for="tol_num">累计用户</label>
                            <input type="number" class="form-control" id="tol_num" name="tol_num" placeholder="number">
                        </div>
                        <button type="submit" class="btn btn-danger">添加数据</button>
                    </div>
                </form>
            </div>
            <!--添加用户-->
            <div>
                <form id="adduser" action="/addUser/" style="display: none" class="form-inline">
                    <hr>
                    <div class="form-group">
                        <label for="new_username">用户名</label>
                        <input type="text" class="form-control" id="new_username" name="new_username">
                    </div>
                    <div class="form-group">
                        <label for="new_account">账号</label>
                        <input type="text" class="form-control" name="new_account" id="new_account">
                    </div>
                    <div class="form-group">
                        <label for="new_password">密码</label>
                        <input type="text" class="form-control" name="new_password" id="new_password">
                    </div>
                    <button type="submit" class="btn btn-danger">添加用户</button>
                </form>
            </div>
            <!--添加游戏-->
            <div>
                <form id="addgame" action="/addgame/" style="display: none" class="form-inline">
                    <hr>
                    <div class="form-group">
                        <label>选择用户：</label>

                        <select name="select_name" class="selectpicker">
                            {{range $key,$value:=.Data}}
                            <option value="{{$key}}">{{$value}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="new_account">游戏名：</label>
                        <input type="text" class="form-control" name="new_gamename" id="new_gamename">
                    </div>
                    <button type="submit" class="btn btn-danger">添加新游戏</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
</body>
<script>
    var postData;
    var data;

    function userinfo() {
        $.ajax({
            type: "GET",
            url: "/userinfo/",
            traditional: true,
            // contentType: "application/json",
            // data: JSON.stringify(data),
//            data: postData,
            success: function (msg) {
//                alert(msg);
                var n = "<thead> <tr> <th>账号</th> <th>管理员</th> <th>密码</th> <th>用户id</th><th>用户名</th> </tr> </thead> <tbody id=\"res\">";
                var m = "";
                data = JSON.parse(msg);
//                alert(data["Gamename"])
                for (var k in data) {
                    var res = "";
                    console.log(k); //对象中键值对的key
                    console.log(data[k]); //对象中键值对的value
                    for (var i in data[k]) {
                        console.log(i); //对象中键值对的key
                        console.log(data[k][i]); //对象中键值对的value
                        res = res + "<td>" + data[k][i] + "</td>";
                    }
                    res = "<tr>" + res + "</tr>";
                    m = m + res;
                }
                console.log(n + m);

                document.getElementById("data").innerHTML = n + m + "</body>";
            }
        });
    }

    function showAdd() {
        var addnum = document.getElementById("addnum").style.display;
//        var adduser = document.getElementById("adduser").style.display;

        if (addnum == "none") {
            document.getElementById("addnum").style.display = "";
            document.getElementById("adduser").style.display = "";
            document.getElementById("addgame").style.display = "";

        } else {
            document.getElementById("addnum").style.display = "none";
            document.getElementById("adduser").style.display = "none";
            document.getElementById("addgame").style.display = "none";


        }
    }

    function search() {
        var startTime = document.getElementById("startTime").value;
        var endTime = document.getElementById("endTime").value;
        var gameid = document.getElementById("gameid").textContent;
//        alert("start:" + startTime + "end:" + endTime + "gameid:" + gameid);
        postData = {
            "nameid": gameid,
            "start": startTime,
            "end": endTime
        };

        $.ajax({
            type: "POST",
            url: "/postmain/",
            traditional: true,
            // contentType: "application/json",
            // data: JSON.stringify(data),
            data: postData,
            success: function (msg) {
//                alert(msg)
                var m = "";
                data = JSON.parse(msg);
//                alert(data["Gamename"])
                for (var k in data["Data"]) {
                    var res = "";
                    console.log(k); //对象中键值对的key
                    console.log(data["Data"][k]); //对象中键值对的value
                    for (var i in data["Data"][k]) {
                        console.log(i); //对象中键值对的key
                        console.log(data["Data"][k][i]); //对象中键值对的value
                        res = res + "<td>" + data["Data"][k][i] + "</td>";
                    }
                    res = "<tr>" + res + "</tr>";
                    m = m + res;
                }
                console.log(m);

                document.getElementById("res").innerHTML = m;
            }
        });
    }

    function getgame(uid) {
//        alert(uid);
        postData = {
            "uid": uid
        };
        var m = "";

        $.ajax({
            type: "POST",
            url: "/postselect/",
            traditional: true,
            // contentType: "application/json",
            // data: JSON.stringify(data),
            data: postData,
            success: function (msg) {
//                alert(msg);
                data = JSON.parse(msg);
                for (var k in data) {
                    console.log(k); //对象中键值对的key
                    console.log(data[k]); //对象中键值对的value
                    console.log(data[k]["gamename"]);
                    var id = data[k]["gameid"];
                    m = m + "<li><a href=\"JavaScript:change(" + id + ")\">" + data[k]["gamename"] + "</a></li>";
                }
                console.log(m);
                document.getElementById("selectgame").innerHTML = m;
            }

        });
    }
    function add_getgame(uid) {
//        alert(uid);
        postData = {
            "uid": uid
        };
        var m = "";

        $.ajax({
            type: "POST",
            url: "/postselect/",
            traditional: true,
            // contentType: "application/json",
            // data: JSON.stringify(data),
            data: postData,
            success: function (msg) {
//                alert(msg);
                data = JSON.parse(msg);
                for (var k in data) {
                    console.log(k); //对象中键值对的key
                    console.log(data[k]); //对象中键值对的value
                    console.log(data[k]["gamename"]);
                    var id = data[k]["gameid"];
                    var name = data[k]["gamename"];
                    m = m + "<li><a href=\"JavaScript:showinfo(" + id + ")\">" + name + "</a></li>";
                }
                console.log(m);
                document.getElementById("add_selectgame").innerHTML = m;
            }

        });
    }

    function showinfo(id,name) {
        document.getElementById("add_gameid").value = id;

    }

    function change(gameid) {
        postData = {
            "nameid": gameid
        };

        $.ajax({
            type: "POST",
            url: "/postmain/",
            traditional: true,
            // contentType: "application/json",
            // data: JSON.stringify(data),
            data: postData,
            success: function (msg) {
//                alert(msg)
                var m = "";
                data = JSON.parse(msg);
//                alert(data["Gamename"])
                for (var k in data["Data"]) {
                    var res = "";
                    console.log(k); //对象中键值对的key
                    console.log(data["Data"][k]); //对象中键值对的value
                    for (var i in data["Data"][k]) {
                        console.log(i); //对象中键值对的key
                        console.log(data["Data"][k][i]); //对象中键值对的value
                        res = res + "<td>" + data["Data"][k][i] + "</td>";
                    }
                    res = "<tr>" + res + "</tr>";
                    m = m + res;
                    console.log(m)
                }
                document.getElementById("res").innerHTML = m;
                //todo
                document.getElementById("gameid").innerText = gameid;
            }
        });
    }

    $('.selectpicker').selectpicker({
        style: 'btn-default',
        size: 4
    });
</script>

</html>